<h1>Stupid Coaching</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<%= @question %><br>
<i> - You </i>
<br><br>
<b><%= @answer %></b><br>
<i> - Your coach </i>
<br><br>

<%= link_to "Ask a new question", 'ask' %>
